body {
  font-family: sans-serif;
  background-color: #e3ebb0;

  color: #e3ebb0;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

a {
  display: inline-block;
  margin: 1em;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 2;
  margin: 5em;
  width: 50%;
  background: linear-gradient(50deg, #eee, #fff);
}
.img-nav {
  border-radius: 8px;
  border-radius: 4px;
  padding: 5px;
  width: 60px;
}
.navbar-custom {
  color: #5cb85c;
}
.img-fluid {
  border-radius: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 1000px;
}
*/ .nav-color {
  background-color: #ffffff;
}
.navbar {
  color: #e3ebb0;
}

.img-products {
  border-radius: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 500px;
  height: 450px;
}

div.products-list-container {
  display: grid;
  grid-template-columns: 50% 50%;
  max-width: auto;
  margin: 0 auto;
}

img.single-product-img {
  width: 300px;
  height: 300px;
}

.products-list-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  width: 80%;
  margin: auto;
  padding: 5px;
}

.all-images {
  object-fit: cover;
  width: 300px;
  height: 300px;
}

.single-product-container {
  align-items: center;
  align-content: center;
  text-align: justify;
  display: flex;
  flex-direction: column;
  width: 20%;
  margin: auto;
  padding: 5px;
}

.card-text {
  align-items: center;
  align-content: center;
  text-align: justify;
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: auto;
  padding: 5px;
}
